.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  /* padding: 10px; */
  font-size: 25px;
  /* background: #dfd8d8f5; */
  text-align: center;
  color: rgb(230, 159, 27);
  font-weight: 35px;
  text-transform: uppercase;
  width: 500px;
  text-align: left;
}
.containerLink {
  display: flex;
  flex-direction: column;
}
.containerLink > a {
  text-decoration: none;
  background-color: blue;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  color: white;
  padding: 5px;
}
